* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // --- DESKTOP STYLING FIRST (SINCE I DONT HAVE A MOBILE MOCKUP TO GO OFF OF) --- // */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

#container {
  width: 90%;
  height: 90%;
  background: lightblue;
  border-radius: 25px;
  display: flex;
  background: #b22222;
}

/* - left side - */
.pokemon-selection {
  width: 50%;
  height: 100%;
  border: 1px solid red;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-pokemon {
  background: white;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.choose-pokemon {
  border: 1px solid black;
  width: 40%;
  height: 20%;
  margin: 2rem 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* - right side - */
.pokemon-info {
  width: 50%;
  height: 100%;
  border: 1px solid green;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-info-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background: white; */
}

.pokemon-name {
  width: 40%;
  height: 40%;
  background: lightblue;
  border-radius: 25px;
}

.pokemon-picture {
  width: 55%;
  height: 40%;
  margin-left: 5%;
  background: gray;
  border-radius: 25px;
}

.pokemon-stats {
  width: 100%;
  height: 55%;
  background: lightblue;
  margin-top: 5%;
  border-radius: 25px;
}

/* // --- mobile layout --- // */
@media screen and (max-width: 550px) and (max-height: 900px) {
  #container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .pokemon-selection {
    order: 1;
    width: 100%;
    border: none;
    border-top: 2px solid black;
    border-top-left-radius: 0px;
  }

  .all-pokemon {
    overflow: scroll;
  }

  .pokemon-info {
    height: 90%;
    width: 100%;
    border: none;
    border-radius: none;
  }

  .pokemon-info-container {
    height: 90%;
  }
}
